<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand"><strong style="color: white;">Shopping Cart</strong></a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" (click)="isSignIn = true;" *ngIf="!isSignIn" routerLink="/">
        <a class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="sign-in-alt"></mdb-icon>
          Sign In</a>
      </li>

      <li class="nav-item" (click)="isSignIn = false;" *ngIf="isSignIn" routerLink="/signup">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="user-plus">
        </mdb-icon> Sign Up<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </links>
</mdb-navbar>


<main class="animated fadeIn my-bg">
  <router-outlet></router-outlet>
</main>
