<div class="container-fluid mt-5 pt-5">

  <div class="jumbotron hoverable effect8 sideNote">

    <h1 class="h1-responsive">
      <i class="fa fa-cog"></i>
      <strong>Page Not found!</strong>
    </h1>

    <p class="lead">We're sorry. The page you are looking for cannot be found.
    </p>
    <hr class="my-2">
    <p>Let's see if any of these search results help... Search Results
      <br>
      <br>
      <a href="#">
        <h3>
          <strong>Login</strong>
        </h3>
      </a>
    </p>
  </div>
</div>
