<div class="row p-2">
  <div class="col">
    <h4>Pick your favourite Item </h4>
    <div class="row m-2">
    <mdb-card *ngFor="let product of products" class="col-sm-12 col-md-4 col-lg-3 m-2">
       <mdb-card-body>
        <mdb-card-title>
          <h4>{{product.Name}}
          <small class="product_price">  ₹ {{product.price}}</small>
          </h4>
        </mdb-card-title><hr>
        <mdb-card-text>
         <span>{{product.Location}}</span><br>
         <span>Available Qty: {{product.qty}}</span>
         <img src="assets/images/sold.jpg" height="50px" width="100px" *ngIf="product.qty == 0">
        </mdb-card-text>
        <a *ngIf="product.qty > 0" (click)="addProductToCart(product)"  class="btn btn-sm" mdbBtn color="primary" mdbWavesEffect>Add to Cart</a>
      </mdb-card-body>
    </mdb-card>
  </div>
  </div>

</div>
