

.pro-name {
  font-weight: bold;
  font-size: 1rem;;
}

.card-body {
  padding: .7rem;;
}
.product_price {
  float: right;
}

h4 {
  font-weight: bold;
}

img{
  position: absolute;
  right: 0;
  margin-right: 10px;
  bottom: 10px;
}
