header {
  margin: 0 0 0;
  font-size: 1.2rem;
}

.card {
  padding: 15px;
}

.cart-container {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main {
  font-size: .9rem;
  font-weight: 500;
  color: black;
}
.extra {
  font-size: .8rem;
  font-weight: 500;
  color: darkgray;
}
.btn {
  color: white;
  background-color: #00bcd4;
  border-radius: 20px;
  padding: .5rem 1.5rem;
}

.list-item{
  font-weight: bold;
  padding: 5px;
  margin-right: 5px;
  border-bottom: 1px solid gray;
}
.price-text {
  color: #00bcd4;
  font-weight: bold;
  font-weight: .8rem;
}
.counter-style-small {
  height: fit-content;
  padding: 2px;
  color: #00bcd4;
  justify-content: space-between;
  display: flex;
}
.pointer { cursor: pointer;}

.flex {
  display: flex;
}
.ml-4 {
  margin-left: 1rem !important;
}
